.container {
  height: 100px;
  padding: 0px 50px;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.item {
  display: flex;
  flex: 1;
}

.item:nth-child(2) {
  flex: 3;
  background-color: white;
}

.CallButton {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}
